.git
.gitignore
.github
.idea
.vscode
__pycache__
*.py[cod]
*.sqlite3
.env
media
statuspage/static
venv
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfplan
