POSTGRES_DB=statuspage
POSTGRES_USER=statuspage
POSTGRES_PASSWORD=change-me

STATUS_PAGE_ALLOWED_HOSTS=localhost,127.0.0.1,web,nginx
STATUS_PAGE_SITE_URL=http://localhost:8081
STATUSPAGE_HTTP_PORT=8081
STATUS_PAGE_SECRET_KEY=replace-with-a-random-value-of-at-least-50-characters
STATUS_PAGE_TIME_ZONE=Asia/Jerusalem
